.home {
  margin-top: 20px;
}

.home__posts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.home__post.double {
  flex-basis: 50%;
  margin: 40px 0;
}

.home__post.single-right {
  margin: 40px 0 40px 30%;
  flex-basis: 70%;
  height: 640px;
  align-items: center;
}

.home__post.single-right img,
.home__post.single-left img {
  width: 640px;
}

.home__post.single-left {
  margin: 40px 0;
  flex-basis: 70%;
  height: 640px;
  align-items: center;
}

.home__post.photo-right {
  flex-direction: row-reverse;
}
