.newpost {
  max-width: 1024px;
  margin: 140px auto;
  background: #fff;
}

.newpost__avatar {
  text-align: center;
}

.newpost__avatar img {
  width: 300px;
  border-radius: 320px;
  margin-top: 3rem;
}

.newpost__fieldset {
  border: 0;
  padding: 0 1rem;
}

.newpost__fieldset h1 {
  color: #f1a10a;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 1rem;
}

.newpost__fieldset .input + .input,
.newpost__fieldset .input + .textarea {
  margin-top: 1.4rem;
}

.newpost__submit {
  width: 100%;
  padding: 70px;
  text-align: center;
}

.newpost__submit--button {
  width: 230px;
  height: 60px;
  left: 857px;
  top: 1400px;
  background: #2d2d2d;
  color: #fff;
  border-radius: 4px;
}

.newpost__submit--button:hover {
  background-color: #77520d;
  border: none;
}

@media all and (min-width: 720px) {
  .newpost__fieldset {
    padding: 0 9rem;
  }
}
